html,body {
     height:100%;
 }
 
 .box {
     width:300px;
     height:200px;
     margin:0 auto;
     margin-top:300px;
     background:yellow;
     overflow: auto; /*Nao esta funcionando!*/
     
        
 }
 
 .box p {
     width:700px;
 }